<p id="notice"><%= notice %></p>

<h1>Treddit Entries</h1>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.url %></td>
        <td><%= entry.username %></td>
        <td><%= entry.rating %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Upvote", @upvote do %>
<i class="fa fa-thumbs-up" aria-hidden="true"></i>
<% end %>
<i class="fa fa-thumbs-down" aria-hidden="true"></i>

<%= link_to 'New Entry', new_entry_path %>
